<div class="section">
  <div class="content">
    Manage the employees at <strong><%- req.session.userinfo.company.name %></strong> from here.
  </div>
</div>

<div class="sectionSpace"></div>

<div class="section">
  <div class="header">
    Invite a New Employee
  </div>

  <div class="content">
    Employee Email:&nbsp;
    <input type="text" id="txtNewEmployeeEmail" placeholder="Employee Email">&nbsp;
    <input type="submit" id="btnInviteEmployee" value="Invite Employee">
  </div>
</div>

<div class="sectionSpace"></div>

<div class="section">
  <div class="header">
    Employees
  </div>

  <div class="content">

    <table id="companyEmployees" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="left-align" width="50%">Employee</th>
          <th class="left-align" width="35%">Job Title (Role)</th>
          <th width="15%">Office</th>
        </tr>
      </thead>

      <tbody>
      <% for(var i = 0; i < employees.length; i++) { %>
        <tr>
          <td data-order="<%= employees[i].lastName + ', ' + employees[i].firstName %>">
            <a href="/admin/employee/<%= employees[i].id %>"><div class="picture" style="background-image:url('<%= employees[i].picture %>')"></div></a>
            <div class="name"><a href="/admin/employee/<%= employees[i].id %>"><%= employees[i].lastName + ', ' + employees[i].firstName %></a><br><span class="email"><%= employees[i].email %></span></div>
          </td>
          <td><a href="/admin/role/<%= employees[i].role.id %>"><div class="position"><%= employees[i].role.jobTitle %></div></a></td>
          <td><div class="office">NYC</div></td>
        </tr>
      <% } %>
      </tbody>
    </table>

  </div>
</div>