<div class="section">
  <div class="content">
    Manage the employees at <strong><%- req.session.company.name %></strong> from here.
  </div>
</div>

<div class="sectionSpace"></div>

<div class="section">
  <div class="header">
    Employees
  </div>

  <div class="content">

    <table id="companyEmployees" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Employee</th>
          <th>Job Title</th>
          <th>Office</th>
        </tr>
      </thead>

      <tbody>
      <% for(var i = 0; i < employees.length; i++) { %>
        <tr>
          <td data-order="<%= employees[i].lastName + ', ' + employees[i].firstName %>">
            <a href="/admin/employee?id=<%= employees[i].id %>"><div class="picture" style="background-image:url('<%= employees[i].picture %>')"></div></a>
            <div class="name"><%= employees[i].lastName + ', ' + employees[i].firstName %></div>
          </td>
          <td><div class="position"><%= employees[i].models.permission.position %></div></td>
          <td><div class="office">NYC</div></td>
        </tr>
      <% } %>
      </tbody>
    </table>

  </div>
</div>