<div id="pageAdmin" class="row sectionContainer">
  <%- partial('breadcrumbs') %>
  <div class="-1u 2u sidemenu">
    <a class="item" href="/admin/general"><div class="<% if(selectedSection=="general"){ %>selected<% } %>">General</div></a>
    <a class="item" href="/admin/employees"><div class="<% if(selectedSection=="employees"){ %>selected<% } %>">Employees</div></a>
    <a class="item" href="/admin/roles"><div class="<% if(selectedSection=="roles"){ %>selected<% } %>">Roles</div></a>
    <a class="item" href="/admin/offices"><div class="<% if(selectedSection=="offices"){ %>selected<% } %>">Offices & Positions</div></a>
  </div>
  <div class="8u admincontent">
    <% if(selectedSection=="general"){ %>
      <%- partial('general') %>
    <% } %>

    <% if(selectedSection=="employees"){ %>
      <%- partial('employees') %>
    <% } %>

    <% if(selectedSection=="roles"){ %>
      <%- partial('roles') %>
    <% } %>

    <% if(selectedSection=="offices"){ %>
      <%- partial('offices') %>
    <% } %>
  </div>
</div>

<!-- Initialize Script -->
<script>
  CozyHR.pageHelper.init( CozyHR.pageHelpers.admin );
</script>