<!DOCTYPE html>
<html class="<%= (typeof htmlClass !== 'undefined')?htmlClass:'' %>">
  <head>
    <title>CozyHR</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <% if(typeof noSkelJs === 'undefined') { %>
    <!-- Configure Skel.js -->
    <script>
      /* Skel.js */
      window._skel_config = {
        prefix: null,
        normalizeCSS: true,
        boxModel: 'border',
        grid: { gutters: 20 },
        breakpoints: {
          wide: { range: "1200-", containers: 1140, grid: { gutters: 20 } },
          narrow: { range: "481-1199", containers: 960 },
          mobile: { range: "-480", containers: "fluid", lockViewport: true, grid: { collapse: true } }
        }
      }
      /* Skel.js Panels */
      <% if(req.session.authenticated) { %>
        window._skel_panels_config = {
          overlays: {
            topMenu: {
              position: "top-left",
              width: "100%",
              height: 41
            },

            bottomMenu: {
              position: "bottom-left",
              width: "100%",
              height: 41
            }
          }
        }
      <% } %>
    </script>
    <% } %>

    <!--SCRIPTS-->
    <script src="http://static.cozyhr.com/min/6093a3de.production.min.js"></script>
    <!--SCRIPTS END-->

    <!--STYLES-->
    <link rel="stylesheet" href="http://static.cozyhr.com/min/c5bcad2a.production.min.css">
    <!--STYLES END-->
  </head>

  <body class="<%= (typeof bodyClass !== 'undefined')?bodyClass:'' %>">
    <% if(req.session.authenticated) { %>
      <%- partial('topbar') %>
    <% } %>

    <div id="mainContainer" class="container <%= (typeof extraContainerClass !== 'undefined')?extraContainerClass:'' %>">
      <%- body %>
    </div>

    <% if(req.session.authenticated) { %>
      <%- partial('bottombar') %>
    <% } %>

    <% if(typeof mustacheTemplates !== 'undefined') { %>
      <% for(var i = 0; i < mustacheTemplates.length; i++) { %>
        <script id="<%= mustacheTemplates[i] %>" type="x-tmpl-mustache">
          <%- partial('_mustache/' + mustacheTemplates[i] + '.mustache') %>
        </script>
      <% } %>
    <% } %>

    <script>
    <% if(req.session.authenticated) { %>
      CozyHR.userId = "<%- req.session.userinfo.id %>";
      CozyHR.env = "<%- ENV %>";
    <% } else { %>
      CozyHR.env = "<%- ENV %>";
    <% } %>
    </script>

    </body>
</html>
