<!DOCTYPE html>
<html class="<%= (typeof htmlClass !== 'undefined')?htmlClass:'' %>">
  <head>
    <title>CozyHR</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-1.11.1.min.js"></script>
    <script src="/js/dependencies/skel.2.1.0.min.js"></script>
    <script src="/js/dependencies/underscore.1.7.0-min.js"></script>
    <script src="/js/vendor/chosen.1.1.0/chosen.jquery.min.js"></script>
    <script src="/js/vendor/jbox.0.3.2/jBox.min.js"></script>
    <script src="/js/vendor/jquery-ui.1.11.1/jquery-ui.min.js"></script>
    <script src="/js/vendor/jquery.datatables.1.10.0/jquery.dataTables.min.js"></script>
    <script src="/js/vendor/moment.2.8.4/moment.min.js"></script>
    <script src="/js/vendor/mustache.0.8.2/mustache.js"></script>
    <script src="/js/vendor/skel-layers.2.0.0/skel-layers.min.js"></script>
    <script src="/js/vendor/soundjs.0.5.2/soundjs-0.5.2.min.js"></script>
    <script src="/js/vendor/sweetalert-0.3.2/sweet-alert.min.js"></script>
    <script src="/js/_client.js"></script>
    <script src="/js/admin.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/signin.js"></script>
    <script src="/js/timeclock.js"></script>
    <!--SCRIPTS END-->

    <!--STYLES-->
    <link rel="stylesheet" href="/js/vendor/chosen.1.1.0/chosen.min.css">
    <link rel="stylesheet" href="/js/vendor/font-awesome.4.2.0/css/font-awesome.css">
    <link rel="stylesheet" href="/js/vendor/jbox.0.3.2/jBox.css">
    <link rel="stylesheet" href="/js/vendor/jbox.0.3.2/themes/ModalBorder.css">
    <link rel="stylesheet" href="/js/vendor/jbox.0.3.2/themes/NoticeBorder.css">
    <link rel="stylesheet" href="/js/vendor/jbox.0.3.2/themes/TooltipBorder.css">
    <link rel="stylesheet" href="/js/vendor/jbox.0.3.2/themes/TooltipDark.css">
    <link rel="stylesheet" href="/js/vendor/jquery.datatables.1.10.0/jquery.dataTables.css">
    <link rel="stylesheet" href="/js/vendor/sweetalert-0.3.2/sweet-alert.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <!--STYLES END-->

    <% if(typeof noSkelJs === 'undefined') { %>
    <!-- Configure Skel.js -->
    <script>
      /* Skel.js */
      skel.init({
        prefix: null,
        normalizeCSS: true,
        boxModel: 'border',
        grid: { gutters: [40, 0] },
        breakpoints: {
          wide: { range: "1200-", containers: 1140, grid: { gutters: 20 } },
          narrow: { range: "481-1199", containers: 960 },
          mobile: { range: "-480", containers: "fluid", lockViewport: true, grid: { collapse: true } }
        },
        <% if(req.session.authenticated) { %>
        plugins: {
          layers: {
            topMenu: {
              position: "top-left",
              width: "100%",
              height: 41
            },

            bottomMenu: {
              position: "bottom-left",
              width: "100%",
              height: 41
            }
          }
        }
        <% } %>
      });
    </script>
    <% } %>
  </head>

  <body class="<%= (typeof bodyClass !== 'undefined')?bodyClass:'' %>">
    <% if(req.session.authenticated) { %>
      <%- partial('topbar') %>
    <% } %>

    <div id="mainContainer" class="container <%= (typeof extraContainerClass !== 'undefined')?extraContainerClass:'' %>">
      <%- body %>
    </div>

    <% if(req.session.authenticated) { %>
      <%- partial('bottombar') %>
    <% } %>

    <% if(typeof mustacheTemplates !== 'undefined') { %>
      <% for(var i = 0; i < mustacheTemplates.length; i++) { %>
        <script id="<%= mustacheTemplates[i] %>" type="x-tmpl-mustache">
          <%- partial('_mustache/' + mustacheTemplates[i] + '.mustache') %>
        </script>
      <% } %>
    <% } %>

    <script>
    <% if(req.session.authenticated) { %>
      CozyHR.userId = "<%- req.session.userinfo.id %>";
      CozyHR.env = "<%- ENV %>";
    <% } else { %>
      CozyHR.env = "<%- ENV %>";
    <% } %>
    </script>

    </body>
</html>
