<div id="pageDashboard" class="row">
	<div class="3u">
		<!-- You -->
		<div class="sectionContainer sectionYou">
			<div class="section">
				<div class="content">
					<div class="picture" style="background-image:url('<%- req.session.userinfo.picture %>')"></div>
					<div class="name"><strong><%- req.session.userinfo.fullName %></strong></div>
					<div class="position"><%- req.session.permissions.position %></div>
					<div class="sep"></div>
					<div class="info">
						<div class='pto tt' title='Paid Time Off'>PTO</div>
						<div class="data"><%- req.session.userinfo.counter_pto.toFixed(2) %> hours <span class="action">- <a href="#">Use Time</a></span></div>
					</div>
					<div class="info">
						<div class='sick tt' title='Sick Time'>Sick</div>
						<div class="data"><%- req.session.userinfo.counter_sick.toFixed(2) %> hours <span class="action">- <a href="#">Use Time</a></span></div>
					</div>
					<div class="info">
						<div class='vaca tt' title='Vacation Time'>Vaca</div>
						<div class="data"><%- req.session.userinfo.counter_vaca.toFixed(2) %> hours <span class="action">- <a href="#">Use Time</a></span></div>
					</div>
				</div>
			</div>
		</div>
		<!-- Your Schedule -->
		<div class="sectionContainer sectionYourSchedule">
			<div class="section">
				<div class="header">Your Schedule</div>
				<div class="content">
					<div>More stuff..</div>
					<div>More stuff..</div>
				</div>
			</div>
		</div>
	</div>
	<div class="6u">
		<!-- Company Feed -->
		<div class="section sectionCompanyFeed">
			<div><h2>Company Feed</h2></div>
			<div id="subSectionCompanyFeedEntries">
				Loading news feed..
			</div>
		</div>
	</div>
	<div class="3u">
		<!-- Birthdays -->
		<div class="sectionContainer sectionBirthdays">
			<div class="section">
				<div class="header">Birthdays</div>
				<div class="content">
					<center>There are no birthdays today.</center>
				</div>
			</div>
		</div>
		<!-- Working Now -->
		<div class="sectionContainer sectionWorkingNow">
			<div class="section">
				<div class="header">Working Now</div>
				<div class="content">
					<div id="subSectionWorkers">
						<!-- This will be replaced with the employee's working -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Initialize Script -->
<script>
	var _inst = new DASHBOARD_UTILS();
	_inst.init();
</script>